
<div class="container">

    <h6>Información Cliente</h6>
    <hr>
    <br>
   
    <form [formGroup]="clienteForm"> 
        <input type="hidden" class="form-control" formControlName="idCliente" >       
        <div class="form-group row">
            <div class="col-6">
                <label for="correoCliente">Correo</label>
                <input type="text" class="form-control" formControlName="correoCliente" (focusout)="buscar($event)" >
            </div>
            <div class="col-6"></div>
        </div>
        <div class="form-group row">  
            <div class="col">
                <label for="tipoIdentificacionCliente">Tipo Identificación</label>
                <select class="form-control"  formControlName="tipoIdentificacionCliente">
                    <option [ngValue]="null" disabled>Seleccione</option>
                    <option *ngFor="let tipoId of listaTipoIdentificacion" [ngValue]="tipoId.IdParametroDetalle">
                     {{ tipoId.Valor }}
                    </option>
                  </select> 
            </div>          
            <div class="col">
                <label for="numeroIdentificacionCliente">Identificación</label>
                <input type="text" class="form-control" formControlName="numeroIdentificacionCliente" >
            </div>            
        </div>
        <div class="form-group row">
            <div class="col">
                <label for="nombreCliente">Nombre</label>
                <input type="text" class="form-control" formControlName="nombreCliente" >
            </div>
            <div class="col">
                <label for="apellidoCliente">Apellido</label>
                <input type="text" class="form-control" formControlName="apellidoCliente" >
            </div>
        </div>
        <div class="form-group row">            
            <div class="col-6">
                <label for="celularCliente">Celular</label>
                <input type="text" class="form-control" formControlName="celularCliente" >
            </div>
        </div>        
    </form>

    <div class="div">
        <button type="button" class="btn btn-primary" (click)="guardar()">Guardar</button>        
    </div>
</div>
